{% extends 'plan/basics/base.html' %}

{% load crispy_forms_tags %}
{% block content %}


<style>
  .body{
    background-image: url('https://images.unsplash.com/photo-1476990789491-712b869b91a5?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDN8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
</style>
<div class="px-24">

  <section class="text-gray-600 body-font ">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
          <h1 class="title-font font-medium text-3xl text-gray-900">To make one good action succeed another, is the perfection of goodness.</h1>
          <p class="leading-relaxed mt-4">"Be Patient and you will get what you want" - Imam Ali
          </p>
        </div>
        <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 shadow-lg">
          <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign Up</h2>
          <div class="relative mb-4">
              <form action="" method="POST">
                  {% csrf_token %}
                  <fieldset>
                      {{ form|crispy }}
                  </fieldset>
                  <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Login</button>
              </form>
          </div>
          
          
          <a href="{% url 'register-page' %}"><p class="text-xs text-gray-500 mt-3">Dont have an account! <b>Register here</b> </p></a>
        </div>
      </div>
    </section>
</div>


{% endblock content %}